
<div id="book-a-court">

    <div id="court-info">
        <div id="light-blue-pad">
            <div id="info">
                <div id="name">{{this.court!.name}}</div>
                <div class="other-info">Location: {{this.court!.location}}</div>
                <div class="other-info">Working hours: {{workingHours()}}</div>
                <div class="other-info">Price per hour: {{this.court!.price_per_hour}}rsd</div>
            </div>
        </div>
    </div>

    <div id="court-booking-choices">
        <div id="your-match">
            Your match
        </div>

        <div id="select-match-type-div">
            Select match type: 
            <select name="selectMatchType" id="select-match-type" [(ngModel)]="selectedMatchType" (ngModelChange)="onSelectionChange($event)">
                <option [value]="'single'">Single</option>
                <option [value]="'double'">Double</option>
            </select>
        </div>

        <div id="choose-players">
            @if(selectedMatchType == 'double') {
                <div> My team vs opponents </div>
            } @else {
                <div>Me vs opponent</div>
            }
            <div class="opposing-div">
                <div>
                    1. <span class="choose-player-span">Me</span>
                </div>
                <div (click)="choosePlayer(1)">
                    1. <span class="choose-player-span">{{playerName(1)}}</span>
                </div>
            </div>
            @if(selectedMatchType == 'double') {
                <div class="opposing-div">
                    <div (click)="choosePlayer(2)">
                        2. <span class="choose-player-span">{{playerName(2)}}</span>
                    </div>
                    <div (click)="choosePlayer(3)">
                        2. <span class="choose-player-span">{{playerName(3)}}</span>
                    </div>
                </div>
            }
        </div>
        <div id="choose-date">
            Select date:
            <input type="date" id="date" [(ngModel)]="chosenDate" (change)="onDateChange($event)" #dateInput>

        </div>

        @if (this.chosenDate != "") {
            <div id="available-times">
                <div id="time-label">Time</div>
                <div id="timeslots">
                    @for(time of this.courtTimes; track time) {
                        <div class="timeslot" (click)="pickTime(time.time)" 
                            [style]="{'background-color': time.availability == 2 ? '#dfff08' : '#f9f9f9'}">
                            {{time.time}}
                        </div>
                    }
                </div>
            </div>
        }

        <div id="available-matches">
            <div id="available-matches-label">
                Available matches
            </div>
            <div id="available-matches-slots">
                No available matches currently!
            </div>
        </div>
    </div>
</div>