
<div id="book-a-court">

    <div id="court-info">
        <div id="light-blue-pad">
            <div id="info">
                <div id="name">{{this.court!.name}}</div>
                <div class="other-info">Location: {{this.court!.location}}</div>
                <div class="other-info">Working hours: {{workingHours()}}</div>
                <div class="other-info">Price per hour: {{this.court!.price_per_hour}}rsd</div>
            </div>
        </div>
    </div>

    <div id="court-booking-choices">
        <div id="your-match">
            Your match
        </div>

        <div id="select-match-type-div">
            Select match type: 
            <select name="selectMatchType" id="select-match-type" [(ngModel)]="selectedMatchType" (ngModelChange)="onSelectionChange($event)">
                <option [value]="'single'">Single</option>
                <option [value]="'double'">Double</option>
            </select>
        </div>

        <div id="choose-players">
            @if(selectedMatchType == 'double') {
                <div> My team vs opponents </div>
            } @else {
                <div>Me vs opponent</div>
            }
            <div class="opposing-div">
                <div>
                    1. <span class="choose-player-span">Me</span>
                </div>
                <div (click)="choosePlayer(1)">
                    1. <span class="choose-player-span">{{playerName(1)}}</span>
                </div>
            </div>
            @if(selectedMatchType == 'double') {
                <div class="opposing-div">
                    <div (click)="choosePlayer(2)">
                        2. <span class="choose-player-span">{{playerName(2)}}</span>
                    </div>
                    <div (click)="choosePlayer(3)">
                        2. <span class="choose-player-span">{{playerName(3)}}</span>
                    </div>
                </div>
            }
        </div>
        <div id="choose-date">
            Select date:
            <input type="date" id="date" [(ngModel)]="chosenDate" (change)="onDateChange($event)" #dateInput>

        </div>

        @if (this.chosenDate != "") {
            <div id="available-times">
                <div id="time-label">Time</div>
                <div id="timeslots">
                    @for(time of this.courtTimes; track time) {
                        <div class="timeslot" (click)="pickTime(time.time)" 
                            [style]="{'background-color': time.availability == 2 ? '#dfff08' : time.availability == 1 ? '#f9f9f9' : '#016dbd'}">
                            {{time.time}}
                        </div>
                    }
                </div>
            </div>
        }

        @if (this.canConfirmMatch) {
            <div id="confirm-match-div">
                <div id="confirm-match" (click)="confirmMatch()">Confirm match</div>
            </div>
        }

        <div id="available-matches">
            <div id="available-matches-label">
                Available matches
            </div>
            <div id="available-matches-slots">
                @if(availableMatches.length == 0) {
                    No available matches currently!
                } @else {
                    <div id="available-matches">
                        @for(availableMatch of availableMatches; track availableMatch;) {
                            <div class="available-match">
                                <div class="date-and-type">
                                    <span class="date-span">{{getAvailableMatchDate(availableMatch)}}</span>
                                    <span class="time-span">{{getAvailableMatchTime(availableMatch)}}</span>
                                    <span class="type-span">Competitive</span>
                                </div>
                                <div class="match-players-div">
                                    <div class="team">
                                        <div class="player">
                                            <div class="player-picture"></div>
                                            <div class="player-name">{{getPlayerOfAvailableMatch(availableMatch, 0, 0)}}</div>
                                            <div class="player-number">1</div>
                                        </div>
                                        <div class="player">
                                            <div class="player-picture"></div>
                                            <div class="player-name">{{getPlayerOfAvailableMatch(availableMatch, 0, 1)}}</div>
                                            <div class="player-number">2</div>
                                        </div>
                                    </div>
                                    <div class="team">
                                        <div class="player">
                                            <div class="player-picture"></div>
                                            <div class="player-name">{{getPlayerOfAvailableMatch(availableMatch, 1, 0)}}</div>
                                            <div class="player-number">1</div>
                                        </div>
                                        <div class="player">
                                            <div class="player-picture"></div>
                                            <div class="player-name">{{getPlayerOfAvailableMatch(availableMatch, 1, 1)}}</div>
                                            <div class="player-number">2</div>
                                        </div>
                                    </div>
                                </div>
                                <div class="available-match-court-info-and-button">
                                    <div class="available-match-court">
                                        <img class="location-img" src="../../assets/images/location.png" alt="">
                                        <div>{{getClubName(availableMatch.court_id)}}</div>
                                    </div>
                                    <div class="available-match-price-and-time" (click)="enterMatch(availableMatch)">
                                        <div>{{getPriceOfMatch(availableMatch)}}rsd</div>
                                        <div>{{availableMatch.duration * 60}}min</div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>
                }
            </div>
        </div>
    </div>
</div>