#book-a-court{
    font-family: sans-serif;
}

#court-info {
    padding-top: 4vh;
    padding-bottom: 4vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#light-blue-pad {
    background-color: #bde3ff;
    border-radius: 20px;
    padding: 2vh;
}

#info {
    text-align: center;
    padding: 2vh;
    border-radius: 20px;
    background-color: #016dbd;
    color: #dfff08;
}

#name {
    font-size: 3vh;
    font-weight: bold;
}

#court-booking-choices {
    padding-left: 5vw;
}

#your-match {
    font-size: 2.7vh;
    font-weight: bold;
}

#select-match-type-div {
    font-size: 2.3vh;
    padding-left: 5vw;
    padding-top: 1.5vh;
}

#select-match-type {
    padding: 1vw;
    appearance: none;
    -webkit-appereance: none;
    -moz-appereance: none;
    background: #bde3ff;;
    border: 0px solid #ccc;
    border-radius: 10px;
    background-size: 1em;
    text-align: center;
    font-size: 2.3vh;
}

#choose-players {
    margin-top: 2vh;
    border-radius: 10px;
    margin-left: 10vw;
    margin-right: 10vw;
    background-color: #bde3ff;
    text-align: center;
}

.opposing-div {
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-bottom: 1vh;
}

.choose-player-span {
    display: inline-block;
    border-bottom: 2px solid black;
    width: 20vw;
    height: 3vh;
}

#choose-date {
    position: relative;
    display: inline-block;
    font-size: 2.3vh;
    padding-left: 5vw;
    padding-top: 3vh;
}

#date {
    padding: 1vw;
    appearance: none;
    -webkit-appereance: none;
    -moz-appereance: none;
    background: #bde3ff;
    border: 0px solid #ccc;
    border-radius: 10px;
    background-size: 1em;
    text-align: center;
    font-size: 2vh;
}

#available-times {
    font-size: 2.3vh;
}

#time-label {
    padding-top: 2vh;
    padding-left: 5vw;
    font-size: 2.3vh;
}

#timeslots {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.timeslot {
    margin: 1vh;
    padding: 1vh;
    border: 1px solid black;
    border-radius: 15px;
}

#available-matches {
    padding-top: 2vh;
}

#available-matches-label {
    font-size: 2.5vh;
    font-weight: bold;
}

#available-matches-slots {
    padding-top: 2vh;
    padding-left: 5wv;
}

#confirm-match-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#confirm-match {
    margin-top: 1vh;
    padding: 1vh;
    background-color: #016dbd;
    color: #dfff08;
    border-radius: 15px;
}

#available-matches {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.available-match {
    align-self: center;
    padding-top: 2vh;
    margin-bottom: 2vh;
    padding-left: 5vw;
    padding-right: 5vw;
    padding-bottom: 2vh;
    margin-right: 5vw;
    background-color: #bde3ff;
    border-radius: 15px;

}

.date-and-type {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.date-span {
    padding-right: 3vw;
    font-size: 2.1vh;
}

.time-span {
    padding-right: 5vw;
    font-size: 2.1vh;
}

.type-span {
    font-size: 1.6vh;
}

.match-players-div {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.team {
    padding-top: 2vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0.5vh;
}

.player-picture {
    height: 5vh;
    width: 5vh;
    border: 1px solid black;
    border-radius: 15px;
    background-color: white;
}

.player-name {
    font-size: 1.3vh;
    min-width: 16vw;
    text-align: center;
}

.player-number {
    background-color: #dfff08;
    font-size: 1.3vh;
    padding: 0.3vh;
    border-radius: 5px;
}

.available-match-court-info-and-button {
    margin-top: 1vh;
    /* padding: 1vh; */
    background-color: white;
    border-radius: 15px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: 1.5vh;
}

.available-match-court {
    display: flex;
    flex-direction: row;
}

.location-img {
    object-fit: contain;
    height: 2vh;
    width: 8vw;
}

.available-match-price-and-time {
    padding: 1vh;
    text-align: center;
    border-radius: 15px;
    background-color: #dcccff;
}