<div id="confirmation">
    <div>
        <div class="confirmation-message">
            @if (type == 'booked') {
                You booked your match
            } @else {
                @if (type == 'invite-player') {
                    You sent invite request
                } @else {
                    @if (type == 'add-friend') {
                        You sent friend request
                    }
                }
            }
        </div>
        <div id="logo-img-div">
            <img id="logo-img" src="../../assets/images/logo.png" alt="">
        </div>
        <div class="confirmation-message">PadelPoint</div>
    </div>
</div>
