#confirmation {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-color: #016dbd;
    color: #dfff08;
    font-size: 3.0vh;
}

.confirmation-message {
    text-align: center;
    font-weight: bold;
}

#logo-img-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#logo-img {
    object-fit: contain;
    height: 35vh;
    
}

.msg-span {
    align-self: center;
    padding-top: 1vh;
    padding-right: 3vw;
    align-self: center;
    font-size: 3.3vh;
    font-weight: bold;
}

#win-loss-div {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#confetti-img {
    object-fit: contain;
    height: 6vh;
    width: 6vh;
}

#points-gained {
    padding-top: 30vh;
    font-weight: bold;
}

.stats-gained {
    padding-top: 2vh;
}

#arrow-img {
    object-fit: contain;
    height: 3vh;
    width: 3vh;
}