#book-a-court{
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 10vw;
    font-family: sans-serif;
}

#book-a-court-text{
    padding-top: 2vh;
    font-weight: bold;
    font-size: 3vh;
}

.court-padding {
    padding-top: 3vh;
    padding-left: 5vw;
}

.court {
    /* background-image: url(../../assets/images/padel-court-1.png); */
    background-repeat: no-repeat;
    background-size: contain;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.available-courts {
    padding-top: 1vh;
    padding-left: 2vw;
}

.court-name {
    padding-bottom: 1vh;
    padding-left: 2vw;
    color: white;
}

#upcoming-match {
    /* padding-top: 3vh; */
    padding-left: 5vw;
    display: flex;
}

#upcoming-match-card {
    padding: 2vh;
    border-radius: 15px;
    background-color: #bde3ff;
}

.match-time {
    color: #0d99ff;
}

.match-time-label {
    display: inline-block;
    min-width: 30vw;
}

#label-opponents {
    padding-top: 1vh;
    text-align: center;
}


#players {
    margin-top: 2vh;
    border-radius: 10px;
    background-color: #bde3ff;
    text-align: center;
}

.opposing-div {
    padding-top: 1vh;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 1vh;
}

.choose-player-span {
    display: inline-block;
    border-bottom: 2px solid black;
    width: 20vw;
    height: 3vh;
}

#start-match-div {
    padding-top: 2vh;
    display: flex;
    justify-content: center;
    padding-right: 10vw;
}

#start-match {
    color: #dfff08;
    font-size: 2.3vh;
    background-color: #016dbd;
    padding: 1vh;
    border-radius: 10px;
}

#upcoming-match-time-left {
    padding-left: 5vw;
    font-size: 2vh;
}