
<div id="book-a-court">
    @if (upcomingMatch != undefined) {
        <div id="upcoming-match-time-left">
            {{getUpcomingMatchTimeString()}}
        </div>
        <div id="upcoming-match">
            <div id="upcoming-match-card">
                <div>
                    <span class="match-time-label">Match day:</span> <span class="match-time">{{getUpcomingMatchDate()}}</span>
                </div>
                <div>
                    <span class="match-time-label">Court:</span> <span class="match-time">{{getUpcomingMatchCourt()}}</span>
                </div>
                <div id="label-opponents">
                    Team 1 vs Team 2
                </div>
                <div id="players">
                    <div class="opposing-div">
                        <div>
                            1. <span class="choose-player-span">{{playerName(0)}}</span>
                        </div>
                        <div>
                            1. <span class="choose-player-span">{{playerName(1)}}</span>
                        </div>
                    </div>
                    @if(upcomingMatch.player_ids.length == 4) {
                        <div class="opposing-div">
                            <div>
                                2. <span class="choose-player-span">{{playerName(2)}}</span>
                            </div>
                            <div>
                                2. <span class="choose-player-span">{{playerName(3)}}</span>
                            </div>
                        </div>
                    }
                </div>
            </div>
        </div>
        <div id="start-match-div">
            <div id="start-match" (click)="goToYourMatch()">Start match</div>
        </div>
    }
    <div id="book-a-court-text">Book a court</div>
    <div id="courts">
        @for (court of this.courts; track court.name) {
            <div class="court-padding">
                <div class="court" [style]="{'background-image': 'url(' + court.img_path + ')'}" (click)="goToBookACourt(court.id);">
                    <div class="available-courts">
                        <button class="button-available-courts">2 Available courts today</button>
                    </div>
                    <div class="court-name">
                        {{court.name}}
                    </div>
                </div>
            </div>
        }
    </div>
</div>
