#book-a-court{
    padding-top: 3vh;
    padding-bottom: 2vh;
    padding-left: 10vw;
    font-family: sans-serif;
}

#book-a-court-text{
    font-weight: bold;
    font-size: 3vh;
}

.court-padding {
    padding-top: 3vh;
    padding-left: 5vw;
}

.court {
    /* background-image: url(../../assets/images/padel-court-1.png); */
    background-repeat: no-repeat;
    background-size: contain;
    height: 16vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.available-courts {
    padding-top: 1vh;
    padding-left: 2vw;
}

.court-name {
    padding-bottom: 1vh;
    padding-left: 2vw;
    color: white;
}

#upcoming-match {
    padding-top: 3vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}