
#app-header {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 12vh;
    padding: 0;
    margin: 0;
    background-color: #016dbd;
}

#app-footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 12vh;
    border-top: 1px solid grey;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#header-text {
    padding-top: 4vh;
    font-size: 4vh;
    color: #dfff08;
    font-weight: bold;
    font-family: sans-serif;
    display: flex;
}

.footer-icon {
}

.footer-icon-img {
    object-fit: cover;
    height: 12vh;
}

#back-button {
    height: 3vh;
    width: 15vw;
    object-fit: contain;
    padding-right: 3vw;
}