<div id="app-footer">
    <div class="footer-icon" (click)="goToUnimplemented()">
        <img  class="footer-icon-img" src="../../assets/images/notif-paddle-app.png" alt="">
    </div>
    <div class="footer-icon" (click)="goToHome()">
        <img class="footer-icon-img" src="../../assets/images/racket-paddle-app.png" alt="">
    </div>
    <div class="footer-icon" (click)="goToUnimplemented()">
        <img class="footer-icon-img" src="../../assets/images/person-paddle-app.png" alt="">
    </div>
</div>