.club-page {
    padding: 16px;
    font-family: sans-serif;
}

.club-header {
    text-align: center;
    margin-bottom: 20px;
    margin-top: 20px;

    h1 {
        font-size: 22pt;
        font-weight: bold;
        color: #333;
    }
}

.club-images {
    overflow-x: auto;
    white-space: nowrap;
    margin-bottom: 20px;
    -webkit-overflow-scrolling: touch;

    .image-scroll {
        display: inline-block;
    }

    .club-image {
          height: 130px;       /* Fiksna visina */
    width: 180px;        /* Fiksna širina (prilagodi po potrebi) */
    margin-right: 10px;
    border-radius: 8px;
    object-fit: cover;   /* Obezbeđuje isečenje bez deformacije */
    background: #f0f0f0;

        &:last-child {
            margin-right: 0;
        }
    }
}

.tabs {
    display: flex;
    margin-bottom: 16px;
    border-bottom: 1px solid #e0e0e0;

    .tab-button {
        flex: 1;
        padding: 12px;
        background: none;
        border: none;
        font-size: 16px;
        color: #666;
        position: relative;
        font-size: 16pt;

        &.active {
            color: #000;
            font-weight: bold;

            &::after {
                content: '';
                position: absolute;
                bottom: -1px;
                left: 0;
                right: 0;
                height: 2px;
                background: #3576AB;
            }
        }
    }
}

.activity-options {
    .activity-option {
        display: flex;
        font-size: 20pt;
        font-weight: 540;
        justify-content: space-between;
        align-items: center;
        padding: 16px;
        border-bottom: 1px solid #f0f0f0;
        text-decoration: none;
        color: #333;

        .arrow {
            color: #999;
            font-size: 18px;
        }

        &:active {
            background-color: #f9f9f9;
        }
    }
}

.matches-content {
    padding: 16px;
    color: #666;
}

.members-header {
    margin-bottom: 20px;
    color: #333;
}

.members-table {
    width: 100%;
    border-collapse: collapse;
}

.members-table th, .members-table td {
    padding: 3px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.members-table th {
    font-weight: bold;
}

.members-table .pp-list {
background-color: #dfff08 
}


.invite-btn {
    background-color: #3576AB;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    float: inline-end;
}

.invite-btn:hover {
    background-color: #1f5e92;
}

.members-table .name {
    background-color: #eeeeee;
}